body{
    color: white;
    background: #171717;
    margin: 0px;
}

header{
   border-bottom: solid 2px rgb(224, 57, 57);
   padding: 20px;
   font-size: 32px;
   color: rgb(224, 57, 57)
}

section{
    background: #0000;
    padding-bottom: 80px;
}