body{
    color: white;
    background: #000000;
    margin: 0px;
}

header{
   border-bottom: solid 2px rgb(224, 57, 57);
   padding: 20px;
   font-size: 32px;
   color: rgb(224, 57, 57)
}

section{
    background: #17171717;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div{
    margin-right: 20px;
}